<div [formGroup]="siberian">
  <fieldset>
    <legend>Hundur {{index + 1}}</legend>
    <div class="float-right">
      <span *ngIf="index >= 1" (click)="removed.emit(index)" class="close">&#10006;</span>                    
    </div>
    
    <ng-container *ngIf="siberiansReady == true">
      <label for="siberianId"> Siberian Husky </label><br />
      <input list="siberian" name="siberianId" [attr.id]="'siberianId' + index" formControlName="siberianId">
      <datalist id="siberian" name="siberianId">
        <ng-container *ngFor="let sibe of siberianList">
          <option data-value="{{sibe.id}}">{{sibe.pedigreeName}}</option>
        </ng-container>
      </datalist>
      <br />
    </ng-container>

    <label for="comment"> Comment </label><br />
    <textarea rows="2" cols="40" [attr.id]="'comment' + index" formControlName="comment"></textarea>
    <br />
    <br />

    <label for="results"> Niðurstöður </label><br />
    <div class="form-left">
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(1, $event.target.checked)"> Persistent pupillary membrane (PPM)<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(2, $event.target.checked)"> Persistent hyperplastic tunica vasculosa lentis/primary vitreous (PHTVL/PHPV)<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(3, $event.target.checked)"> Cataract (congenintal)<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(4, $event.target.checked)"> Retinal dysplasia (RD)<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(5, $event.target.checked)"> Hypoplasia/micropapila<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(6, $event.target.checked)"> Collie Eye Anomaly (CEA)<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(7, $event.target.checked)"> Other<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(8, $event.target.checked)"> Ligamentum pectintum abnormality<br /><br />

      <label for="other"> Annað (Other)</label>
      <input type="text" name="other" [attr.id]="'other' + index" formControlName="other" >
    </div>

    <div class="form-right">
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(9, $event.target.checked)"> Entropion/trichasis<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(10, $event.target.checked)"> Ectropion/macroblefaron<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(11, $event.target.checked)"> Districhiasis/ectopic cilia<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(12, $event.target.checked)"> Cataract (non-congenital) - Cortieal<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(13, $event.target.checked)"> Cataract (non-conggenital) - Post pol<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(14, $event.target.checked)"> Cataract (non-congenital) - Nucleos<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(15, $event.target.checked)"> Cataract (non-congenital) - Punctata<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(16, $event.target.checked)"> Cataract (non-congenital) - Ant. sut. I.<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(17, $event.target.checked)"> Corneal Dystrophy<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(18, $event.target.checked)"> Lens Luxation (primary)<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(19, $event.target.checked)"> Progressive retinal atrophy (PRA)<br />
      <input type="checkbox" name="results" [attr.id]="'results' + index" formArrayName="results" (change)="middler(20, $event.target.checked)"> Other<br />
    </div>



  </fieldset>
  <br />
</div>