<admin-actions></admin-actions>

<ng-container *ngIf="listReady">
  <p>Alls <strong>{{allSiberians.length}}</strong> hundar skráðir í gagnagrunninn</p>
  <input [(ngModel)]="searchText" placeholder="Leita">
  <table width="100%">
      <thead>
        <tr>
          <th width="15%">Titlar</th>
          <th width="40%">Ættbókarnafn</th>
          <th width="15%">DOB</th>
          <th width="5%">HD</th>
          <th width="15%">Augnskoðun</th>
          <th width="5%"></th>
          <th width="5%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let sibe of searchSiberians | pedigreeFilter: searchText">
          <tr>
            <td class="dog-title">{{sibe.titles}}</td>
            <td>
                <a [routerLink]="['../db/', sibe.id]">{{sibe.pedigreeName}}</a>
            </td>
            <td>{{sibe.dob | date: 'dd.MM.yyyy'}}</td>
            <td>{{sibe.hd}}</td>
            <td>
                <ng-container *ngIf="sibe.eyeValid == true">
                <ng-container *ngIf="sibe.breedingStatus == false">
                    <span class="valid-eye">{{sibe.eye | date: 'dd.MM.yyyy'}}</span>
                </ng-container>

                <ng-container *ngIf="sibe.breedingStatus == true">
                    <span class="valid-ban">{{sibe.eye | date: 'dd.MM.yyyy'}}</span>
                </ng-container>
                </ng-container>

                <ng-container *ngIf="sibe.eyeValid == false">
                    <ng-container *ngIf="sibe.breedingStatus == false">
                    {{sibe.eye | date: 'dd.MM.yyyy'}}
                    </ng-container>

                    <ng-container *ngIf="sibe.breedingStatus == true">
                        <span class="invalid-ban">{{sibe.eye | date: 'dd.MM.yyyy'}}</span>
                    </ng-container>
                </ng-container>
            </td>
            <td><span *ngIf="sibe.dead">&#9840;</span></td>
            <td><a [routerLink]="['../db/editSiberian/', sibe.id]">Breyta</a></td>
          </tr>
        </ng-container>
      </tbody>
    </table><br />
</ng-container>