<h2>Bæta við ræktanda</h2>
<form #s="ngForm" (ngSubmit)="onSubmit(s)" novalidate>

  <fieldset>
    <legend>Ræktun</legend>

    <div class="form-left">
      <label for="kennelName">Ræktunarnafn</label><br />
      <input name="kennelName" [(ngModel)]="s.kennelName" id="kennelName">
    </div>

    <div class="form-right">
      <label for="breederName">Nafn/nöfn ræktanda</label><br />
      <input name="breederName" [(ngModel)]="s.breederName" id="breederName">
    </div>
  </fieldset>
  <br />

  <fieldset>
    <legend>Upplýsingar</legend>

    <div class="form-left">
      <label for="phone">Símanúmer</label><br />
      <input name="phone" [(ngModel)]="s.phone" id="phone">

      <label for="website">Heimasíða</label><br />
      <input name="website" [(ngModel)]="s.website" id="website">
    </div>

    <div class="form-right">
      <label for="email">E-mail</label><br />
      <input name="email" [(ngModel)]="s.email" id="email">
    </div>
  </fieldset>

  <br />
  <button>Submit</button>
</form>