@font-face {
  font-family: 'Simplifica';
  src: url('assets/fonts/SIMPLIFICA Typeface.ttf') format('truetype'); /* IE9 Compat Modes */
  }

@font-face {
  font-family: 'Ikaros';
  src: url('assets/fonts/Ikaros-Regular.otf') format('truetype'); /* IE9 Compat Modes */
  }

@font-face {
  font-family: 'Overpass';
  src: url('assets/fonts/overpass-thin.otf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  src: url('assets/fonts/overpass-regular.otf') format('truetype');
  font-weight: bold;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: relative;
    background-color: #fff;
    font-family: "Overpass", "Garamond", "Times New Roman", Times, serif;
    font-size: 14px;
}

header {
    width: 100%;
    height: 0;
    position: relative;
    background-size: contain;
    background-image: url("assets/images/banner.jpg");
    background-repeat: no-repeat;
    padding-top: 31.87%; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
    margin-bottom: 20px;
}

h2 {
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}

label {
  margin-top: 10px;
  display: inline-block;
}

a:link, a:visited {
  color: rgb(16, 133, 151);
  text-decoration: none;
}

a:hover {
  color: rgb(48, 179, 172);
}

.block {
  width: 100%;
  overflow: auto;
  display: block;
}

.valid-eye {
  color: rgb(98, 194, 111);
  font-weight: bold;
}

.valid-ban {
  color: rgb(189, 88, 88);
  font-weight: bold;
}

.invalid-ban {
  color: rgb(189, 88, 88);
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: block;
  padding: 8px;
}

#menu a {
  float: left;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.input-error {
  margin-top: -5px;
  font-size: 10px;
  color: red;
}

#site-title {
  position: absolute;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  bottom: 0px; 
  text-align: center;
  font-size: 26px;
  font-family: "Ikaros";
  letter-spacing: 3px;
}

nav {
  position: absolute;
  width: 100%;
  top: 0px;
  margin-top: 10px;
  margin-left: 30%;
  font-size: 16px;
}

#menuToggle input {
  display: none;
}

#container {
    width: 80%;
    max-width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#sled {
    position: absolute;
    width: 100%;
    background: no-repeat;
    background-image: url("assets/images/sled.png");
    background-position: center bottom;
    background-size: contain;
    padding-top: 5%;
    color: white;
    bottom: 0px;    
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("assets/images/sh_logo.png");
    background-size: contain;
    background: no-repeat;
    background-position: left top;
    width: 8%;
    height: 8%;
    margin-left: 2.2%;
    margin-top: 0.7%;
}

#side-banner {
    width: 10%;
    height: 100%;
    margin: 0px;
    display: block;
    float: left;
    border: 1px solid black;
}

td {
    padding: 5px 10px;
}

th {
  text-align: left;
}

tr:hover {
    background-color: #e4e4e4;
    color: black;
}

#dog-head {
  width: 100%;
  text-align: center;
}

.dog-title-head {
  font-size: 16px;
  font-weight: bold;
  color: #16accc;
}

.dog-title, .ped-title {
  font-weight: bold;
  color: #16accc;
}

.dog-pedName {
  font-size: 20px;
  font-weight: bold;
}

.dog-callName {
  font-size: 18px;
  font-weight: bold;
}

.text-danger {
  color: rgb(216, 15, 15);
}

.close {
  font-size: 16px;
}

.float-right {
  float: right;
  cursor: pointer;
}

.scrollable {
  height: 40%;
  overflow: auto;
  width: 20%;
}

form input:not([type='checkbox']) {
	border: 1px solid black;
	border-radius: 3px;
	color: #5a5656;
	font-family: inherit;
	font-size: 14px;
	height: 30px;
	outline: none;
	padding: 5px 15px;
  width: 280px;
  margin-bottom: 10px;
  -webkit-appearance:none;
}

form input:active {
  border: 1px solid #2878b1;
}

form fieldset {
  padding: 0px 20px;
}

.short-input {
  width: 100px;
  margin-left: 20px;
}

.form-left {
  width: 45%;
  float: left;
}

.breeder-dogs {
  height: 50%;
  overflow: auto;
}

.form-right {
  width: 45%;
  float: right;
}

.female {
  float: right;
  border-radius: 5px;
  background-color: #E5B8DD;
  color: #fff;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
}

.male {
  float: right;
  border-radius: 5px;
  background-color: #A6B5E5;
  color: #fff;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
}

#pedigree table {
  width: 100%;
  border: 1px solid #000;
}

#pedigree td {
  border: 1px solid #000;
}

.breeders {
  width: 150px;
  height: 150px;
  padding: 20px 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid #000;
  text-align: center;
  float: left;
  border-radius: 4px;
}

.breeders:hover {
  background-color: #f3f3f3;
}

.litters {
  width: 220px;
  height: 290px;
  padding: 20px 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid #000;
  text-align: center;
  float: left;
  border-radius: 4px;
}

.box {
  min-height: 1%;
  overflow: hidden;
}

@media (max-width: 960px)
{
    #menuToggle
    {
      display: block;
      position: relative;
      top: 50px;
      left: 50px;
      
      z-index: 1;
      
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: black;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    
    /* 
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }
    
    /*
     * And let's fade it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: scale(1.0, 1.0);
      opacity: 1;
    }
}