<div>
  <owner-control *ngFor="let owner of ownersFormArray.controls; let i=index"
    [index]="i" [owner]="owner" (removed)="ownersFormArray.removeAt($event)">
  </owner-control>
  
  <div class="float-right">
    <a (click)="addOwner()" style="cursor: pointer">
      &#10010;
    </a>
  </div>
</div>