<div [formGroup]="puppy">
  <fieldset>
    <legend>Hvolpur {{index + 1}}</legend>
    <div>
      <div class="form-left">
        <label>Ættbókarnafn</label>
        <input type="text" [attr.id]="'pedigreeName' + index" formControlName="pedigreeName">
        <br />

        <label>Örmerki</label>
        <input type="text" [attr.id]="'microChip' + index" formControlName="microChip">
        <br />

        <!-- Owners -->
        <label>Eigendur</label>
        <owners-array
          formArrayName="owners"
          [ownersFormArray]="puppy.get('owners')">
        </owners-array>
      </div>

      <div class="form-right">
        <div class="float-right">
          <span *ngIf="index >= 1" (click)="removed.emit(index)" class="close">&#10006;</span>                    
        </div>

        <label for="gender"> Kyn </label><br />
        <select name="gender" id="gender" [attr.id]="'gender' + index" formControlName="gender">
          <option value="1">Tík</option>
          <option value="2">Rakki</option>
        </select>
        <br />

        <label>Innkallsnafn</label><br />
        <input type="text" [attr.id]="'callName' + index" formControlName="callName">
        <br />

        <label>Ættbókarnúmer</label>
        <input type="text" [attr.id]="'pedigreeNumber' + index" formControlName="pedigreeNumber">
        <br />

        <label>Litur</label>
        <input type="text" [attr.id]="'color' + index" formControlName="color">
        <br /><br />
      </div>
    </div>
  </fieldset>
  <br />
</div>