<div>
  <puppy-control *ngFor="let puppy of puppiesFormArray.controls; let i=index"
    [index]="i" [puppy]="puppy" (removed)="puppiesFormArray.removeAt($event)">
  </puppy-control>
  <br />
</div>

<div class="float-right">
  <a (click)="addPuppy()" style="cursor: pointer">
    &#10010;
  </a>
</div>