<ng-container>
    <h2>Bæta við goti</h2>
    <form (ngSubmit)="submit()" [formGroup]="myForm">
      <fieldset>
        <legend>Almennar upplýsingar</legend>
        <div class="form-left">
          <!--Breeders-->
          <label>Ræktendur</label>
          <owners-array
            formArrayName="breeders"
            [ownersFormArray]="myForm.get('breeders')">
          </owners-array>
        </div>

        <div class="form-right">
          <label for="dob"> Fæðingardagur </label><br />
          <input type="date" list="dob" name="dob" id="dob" formControlName="dob">
          <br /><br />
        </div>
      </fieldset>
      <br />

      <fieldset>
        <legend>Foreldrar</legend>
        <div class="form-left">
          <label for="sire"> Faðir </label><br />
          <input list="males" name="sire" id="sire" formControlName="sire">
          <datalist id="males" name="sire">
            <ng-container *ngFor="let sire of siberianMales">
              <option data-value="{{sire.id}}">{{sire.pedigreeName}}</option>
            </ng-container>
          </datalist>
          <br /><br />
        </div>
  
        <div class="form-right">
          <label for="dam"> Móðir </label><br />
          <input list="females" name="dam" id="dam" formControlName="dam">
          <datalist id="females" name="dam">
            <ng-container *ngFor="let dam of siberianFemales">
              <option data-value="{{dam.id}}">{{dam.pedigreeName}}</option>
            </ng-container>
          </datalist>
          <br /><br />
        </div>
      </fieldset>
      <br />

    <!--Puppies-->
    <puppies-array
      formArrayName="puppies"
      [puppiesFormArray]="myForm.get('puppies')">
    </puppies-array>

    <button type="Submit" [disabled]="!myForm.valid">Submit</button>
  </form>
</ng-container>
  
