<div [formGroup]="owner">
  <input list="ownerName" name="ownerName" formControlName="name">
  <datalist id="ownerName" name="ownerName">
    <ng-container *ngFor="let o of ownerList">
      <option data-value="{{o.name}}" >{{o.name}}, {{o.country}}</option>
    </ng-container>
  </datalist>
  <div class="float-right">
    <span *ngIf="index >= 1" (click)="removed.emit(index)" class="close">&#10006;</span>                    
  </div>
</div>