<h3>Uppruni</h3>

<p>
  Siberian Husky var fyrst ræktaður í norð-austur Síberíu af þjóðflokki sem kallaðist Chukchi.<br />
  Það var ekki fyrr en í lok 18. aldar sem hann fékk það tegundarheiti sem hann gengur undir í dag.
</p>

<p>
  Siberian Husky hundar komust á spjöld sögunnar þegar þeir fluttu lyf gegn barnaveikisfaraldri til 
  bæjarbúa í afskekktum bæ í Alaska árið 1925. Fræg barnamynd var gerð eftir þeirri för og nefnist 
  hún „Baltó”. Einnig stendur stytta af Husky hundi í Central Park í New York til heiðurs hundunum 
  sem fluttu lyfin.
</p>
<br />

<h3>Almennt um Siberian Husky</h3>

<p>
  Siberian Husky er af meðalstærð, loðinn og með sperrt eyru. Eitt af því sem einkennir Siberian 
  Husky hunda eru augun en allir litir í augum eru leyfilegir og getur annað augað verið brúnt og 
  hitt blátt sem er nokkuð algengt. Rakkar geta verið frá 54-60 cm á herðarkamb og 20–28 kg að 
  þyngd. Tíkurnar geta verið frá 51-56 cm á herðarkamb og 16–23 kg að þyngd.
</p>

<p>
  Þessir hundar eru mjög harðgerðir vinnuhundar, hafa mikið þol, eru fimir, sprækir og óþeytandi. 
  Þeir eru mjög mannelskir, hafa gott lunderni og mikla greind.<br />

  Þeir eru miklir vinnuhundar og ef þeim leiðist geta þeir orðið óútreiknanlegir í hegðun. Þess 
  vegna er mikilvægt að þeir fái athygli, hreyfingu og hafi nóg fyrir stafni. Mikilvægt er að 
  þeir taki þátt í starfi og leik annarra fjölskyldumeðlima því þeir kunna því illa að vera skildir 
  útundan.<br />

  Siberian Husky eru afar slakir varðhundar líklega vegna þess að þeir tortryggja ekki ókunnuga. 
  Þeir eiga það til að kjassa innbrotsþjófa í stað þess að reka þá á brott.<br />

  Þeir geta verið mjög sjálfstæðir og oft nokkuð þrjóskir. Þeir gelta sjaldan miðað við margar 
  norrænar spitz-tegundir en eiga það til að ýlfra eins og úlfar.
</p>

<div class="float-right">
  <small>Texti: Anna Francesca Rósudóttir</small>
</div>
