<ng-container *ngIf="noBreeder == false">
  <div class="box">
    <div class="form-left">
        <h2>{{breeder.kennelName}}</h2>
        <h4>{{breeder.breederName.join(', ')}}</h4>
        <strong>Sími:</strong> {{breeder.phone}}<br />
        <strong>E-mail:</strong> {{breeder.email}}<br />
        <strong>Heimasíða:</strong> <a href="http://{{breeder.website}}">{{breeder.website}}</a>
        <br /><br />
      </div>
      
      <div class="form-right">
        <br />
        <h3>Hundar í eigu {{breeder.kennelName}}ar</h3>
        <div class="breeder-dogs">
          <ul>
            <li *ngFor="let siberian of breeder.owned"><span class="dog-title">{{siberian.titles}}</span> <a [routerLink]="['../../db', siberian.id]">{{siberian.pedigreeName}}</a></li>
          </ul>
        </div>
      </div>
  </div>

  <hr>

  <h3>Got</h3>
  <strong>Fjöldi gota:</strong> {{breeder.bred.length}}<strong> &#10054; Fjöldi hvolpa:</strong> {{breeder.puppyCount}}<br />

  <div class="litters" *ngFor="let litter of breeder.bred">
    <ng-container *ngIf="litter.sireTitles != null"><span class="dog-title">{{litter.sireTitles}}</span><br /></ng-container>
    <a [routerLink]="['../../db', litter.sireID]">{{litter.sirePedName}}</a><br />
    x<br />
    <ng-container *ngIf="litter.damTitles != null"><span class="dog-title">{{litter.damTitles}}</span><br /></ng-container>
    <a [routerLink]="['../../db', litter.damID]">{{litter.damPedName}}</a><br /><br />

    <strong>Fæðingardagur: </strong><i>{{litter.dob}}</i><br /><br />

    <strong>Hvolpar:</strong><br />
    <ng-container *ngFor="let puppy of litter.progeny"><span class="dog-title">{{puppy.titles}}</span> <a [routerLink]="['../../db', puppy.id]">{{puppy.pedigreeName}}</a><br /></ng-container>
  </div>
</ng-container>
