<a [routerLink]="['../db/addSiberian']">Add a new Siberian</a><br />
<a [routerLink]="['../db/addLitter']">Add a new Litter</a><br />
<a [routerLink]="['../db/addBreeder']">Add a new Icelandic Breeder</a><br />
<a [routerLink]="['../db/addEyeResults']">Add a new Eye Result</a><br />
<a [routerLink]="['../db/editOwnerAgreements']">Manage Owner Agreements</a><br />