<ng-container *ngIf="noSiberian == false">
  <div class="female" *ngIf="siberian.gender == 'Female'">
      <span>&#9792;</span>
    </div>
    
    <div class="male" *ngIf="siberian.gender == 'Male'">
        <span>&#9794;</span>
    </div>
    
    <div id="dog-head">
      <span class="dog-title-head">{{siberian.titles}}</span><br />
      <span *ngIf="siberian.dead">&#9840; </span>
      <span class="dog-pedName">{{siberian.pedigreeName}}</span>
      <span *ngIf="siberian.dead"> &#9840;</span><br />
      <span class="dog-callName"><i>"{{siberian.callName}}"</i></span><br />
    </div>
    
    <div>
      <strong>Fæðingardagur:</strong> <ng-container *ngIf="siberian.dob != '0001-01-01'">{{siberian.dob | date: 'dd.MM.yyyy'}}</ng-container><br />
      <strong>Ættbókanúmer:</strong> {{siberian.pedigreeNumber}}<br />
      <strong>Örmerki:</strong> {{siberian.microChip}}<br />
      <strong>Litur:</strong> {{siberian.color}}<br /><br />

      <strong>Eigandi:</strong> {{siberian.owners.join(', ')}}<br />
      <strong>Ræktandi:</strong> {{siberian.breeders.join(', ')}} ({{siberian.orgCountry}})<br /><br />
      
      <strong>HD:</strong> {{siberian.hd}}<br />
      <strong>Augnskoðanir:</strong>
      <table>
        <tr *ngFor="let result of siberian.eye">
          <td></td>
          <td>
            <strong>{{result.date | date: 'dd.MM.yyyy'}}:</strong>
            <ng-container *ngIf="result.result.length == 0">
              Clear
            </ng-container>

            <ng-container *ngIf="result.result.length != 0">
              {{result.result}}<br />
              (<i>{{result.comment}}</i>)
            </ng-container>
          </td>
        </tr>
      </table>
    </div>
    
    <div>
      <h2>Sýningar</h2>
      <span *ngFor="let result of siberian.shows">
        <strong>{{result.date | date: 'yMMMMd'}}: </strong>
        {{result.result}}
      </span>
      <br />
    </div>
    
    <div id="pedigree">
      <h2>Ættbók</h2>
      <table>
        <tr>
          <td rowspan="4" width="30%">
            <span *ngIf="siberian.sire">
              <span class="ped-title">{{siberian.sire.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.sire.dogID]">{{siberian.sire.dogPedigreeName}}</a>    
            </span>
          </td>
    
          <td rowspan="2" width="30%">
            <span *ngIf="siberian.sire?.sire">
              <span class="ped-title">{{siberian.sire.sire.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.sire.sire.dogID]">{{siberian.sire.sire.dogPedigreeName}}</a>  
            </span>
          </td>
    
          <td width="30%">
            <span *ngIf="siberian.sire?.sire?.sire">
              <span class="ped-title">{{siberian.sire.sire.sire.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.sire.sire.sire.dogID]">{{siberian.sire.sire.sire.dogPedigreeName}}</a>
            </span>
          </td>
        </tr>
    
        <tr>
          <td>
            <span *ngIf="siberian.sire?.sire?.dam">
              <span class="ped-title">{{siberian.sire.sire.dam.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.sire.sire.dam.dogID]">{{siberian.sire.sire.dam.dogPedigreeName}}</a>    
            </span>      
          </td>
        </tr>
    
        <tr>
          <td rowspan="2">
            <span *ngIf="siberian.sire?.dam">
              <span class="ped-title">{{siberian.sire.dam.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.sire.dam.dogID]">{{siberian.sire.dam.dogPedigreeName}}</a>    
            </span>          
          </td>
    
          <td>
              <span *ngIf="siberian.sire?.dam?.sire">
                <span class="ped-title">{{siberian.sire.dam.sire.dogTitles}}</span><br />
                <a [routerLink]="['../', siberian.sire.dam.sire.dogID]">{{siberian.sire.dam.sire.dogPedigreeName}}</a>    
              </span>          
          </td>    
        </tr>
    
        <tr>
          <td>
            <span *ngIf="siberian.sire?.dam?.dam">
                <span class="ped-title">{{siberian.sire.dam.dam.dogTitles}}</span><br />
                <a [routerLink]="['../', siberian.sire.dam.dam.dogID]">{{siberian.sire.dam.dam.dogPedigreeName}}</a>    
            </span>          
          </td>
        </tr>
    
        <tr>
          <td rowspan="4">
            <span *ngIf="siberian.dam">
              <span class="ped-title">{{siberian.dam.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.dam.dogID]">{{siberian.dam.dogPedigreeName}}</a>    
            </span>      
          </td>
    
          <td rowspan="2">
            <span *ngIf="siberian.dam?.sire">
              <span class="ped-title">{{siberian.dam.sire.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.dam.sire.dogID]">{{siberian.dam.sire.dogPedigreeName}}</a>    
            </span> 
          </td>
    
          <td>
            <span *ngIf="siberian.dam?.sire?.sire">
              <span class="ped-title">{{siberian.dam.sire.sire.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.dam.sire.sire.dogID]">{{siberian.dam.sire.sire.dogPedigreeName}}</a>    
            </span>       
          </td>
        </tr>
    
        <tr>
          <td>
            <span *ngIf="siberian.dam?.sire?.dam">
              <span class="ped-title">{{siberian.dam.sire.dam.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.dam.sire.dam.dogID]">{{siberian.dam.sire.dam.dogPedigreeName}}</a>    
            </span>
          </td>
        </tr>
    
        <tr>
          <td rowspan="2">
            <span *ngIf="siberian.dam?.dam">
              <span class="ped-title">{{siberian.dam.dam.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.dam.dam.dogID]">{{siberian.dam.dam.dogPedigreeName}}</a>    
            </span> 
          </td>
    
          <td>
            <span *ngIf="siberian.dam?.dam?.sire">
              <span class="ped-title">{{siberian.dam.dam.sire.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.dam.dam.sire.dogID]">{{siberian.dam.dam.sire.dogPedigreeName}}</a>    
            </span> 
          </td>
        </tr>
    
        <tr>
          <td>
            <span *ngIf="siberian.dam?.dam?.dam">
              <span class="ped-title">{{siberian.dam.dam.dam.dogTitles}}</span><br />
              <a [routerLink]="['../', siberian.dam.dam.dam.dogID]">{{siberian.dam.dam.dam.dogPedigreeName}}</a>    
            </span>       
          </td>
        </tr>
      </table>
    </div>
    
    <div>
      <h2>Afkvæmi</h2>
      <ng-container *ngIf="siberian.litters != null">
          <ng-container *ngIf="siberian.gender == 'Female'">
            <span *ngFor="let litter of siberian.litters">
              <strong>Faðir: </strong><span class="ped-title">{{litter.sireTitles}}</span> <a [routerLink]="['../', litter.sireID]">{{litter.sirePedName}}</a><br />
              <span><strong>Fædd:</strong> {{litter.dob | date: 'dd.MM.yyyy'}}</span>
              <ul *ngFor="let puppy of litter.progeny">
                <li><span class="ped-title">{{puppy.titles}}</span> <a [routerLink]="['../', puppy.id]">{{puppy.pedigreeName}}</a></li>
              </ul><br />
            </span>
          </ng-container>
        
          <ng-container *ngIf="siberian.gender == 'Male'">
            <span *ngFor="let litter of siberian.litters">
              <strong>Móðir: </strong><span class="ped-title">{{litter.damTitles}}</span> <a [routerLink]="['../', litter.damID]">{{litter.damPedName}}</a><br />
              <span><strong>Fædd:</strong> {{litter.dob | date: 'dd.MM.yyyy'}}</span>
              <ul *ngFor="let puppy of litter.progeny">
                <li><span class="ped-title">{{puppy.titles}}</span> <a [routerLink]="['../', puppy.id]">{{puppy.pedigreeName}}</a></li>
              </ul><br />
            </span>
          </ng-container>
      </ng-container>
    </div>
</ng-container>