<h1>Siberian Husky Gagnagrunnur</h1>
<ng-container *ngIf="listsReady">
  <h2>Innfluttir hundar</h2>
  <ng-container *ngFor="let year of siberianImports">
    <h3>{{year.year}}</h3>
    <table width="100%">
      <thead>
        <tr>
          <th width="15%">Titlar</th>
          <th width="45%">Ættbókarnafn</th>
          <th width="15%">DOB</th>
          <th width="5%">HD</th>
          <th width="15%">Augnskoðun</th>
          <th width="5%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let sibe of year.siberianList">
          <ng-container *ngIf="sibe.status == 1">
            <tr>
              <td class="dog-title">{{sibe.titles}}</td>
              <td>
                <a [routerLink]="[sibe.id]">{{sibe.pedigreeName}}</a>
              </td>
              <td>{{sibe.dob | date: 'dd.MM.yyyy'}}</td>
              <td>{{sibe.hd}}</td>
              <td>
                <ng-container *ngIf="sibe.eyeValid == true">
                  <ng-container *ngIf="sibe.breedingStatus == false">
                      <span class="valid-eye">{{sibe.eye | date: 'dd.MM.yyyy'}}</span>
                  </ng-container>

                  <ng-container *ngIf="sibe.breedingStatus == true">
                      <span class="valid-ban">{{sibe.eye | date: 'dd.MM.yyyy'}}</span>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="sibe.eyeValid == false">
                    <ng-container *ngIf="sibe.breedingStatus == false">
                      {{sibe.eye | date: 'dd.MM.yyyy'}}
                    </ng-container>
  
                    <ng-container *ngIf="sibe.breedingStatus == true">
                        <span class="invalid-ban">{{sibe.eye | date: 'dd.MM.yyyy'}}</span>
                    </ng-container>
                </ng-container>
              </td>
              <td><span *ngIf="sibe.dead">&#9840;</span></td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table><br />
  </ng-container>

  <h2>Hundar fæddir á Íslandi</h2>
  <ng-container *ngFor="let year of siberianBorn">
    <h3>{{year.year}}</h3>
    <table width="100%">
      <thead>
        <tr>
          <th width="10%">Titlar</th>
          <th width="50%">Ættbókarnafn</th>
          <th width="15%">DOB</th>
          <th width="5%">HD</th>
          <th width="15%">Augnskoðun</th>
          <th width="5%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let sibe of year.siberianList">
          <ng-container *ngIf="sibe.status == 3">
            <tr >
              <td class="dog-title">{{sibe.titles}}</td>
              <td>
                <a [routerLink]="[sibe.id]">{{sibe.pedigreeName}}</a>
              </td>
              <td>{{sibe.dob | date: 'dd.MM.yyyy'}}</td>
              <td>{{sibe.hd}}</td>
              <td>{{sibe.eye}}</td>
              <td><span *ngIf="sibe.dead">&#9840;</span></td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table><br />
  </ng-container>

  <h2>Útfluttir hundar</h2>
    <table width="100%">
      <thead>
        <tr>
          <th width="10%">Titlar</th>
          <th width="50%">Ættbókarnafn</th>
          <th width="15%">DOB</th>
          <th width="5%">HD</th>
          <th width="15%">Augnskoðun</th>
          <th width="5%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let year of siberianBorn">
          <ng-container *ngFor="let sibe of year.siberianList">
            <ng-container *ngIf="sibe.status == 2">
              <tr>
                <td class="dog-title">{{sibe.titles}}</td>
                <td>
                  <a [routerLink]="[sibe.id]">{{sibe.pedigreeName}}</a>
                </td>
                <td>{{sibe.dob | date: 'dd.MM.yyyy'}}</td>
                <td>{{sibe.hd}}</td>
                <td>{{sibe.eye}}</td>
                <td><span *ngIf="sibe.dead">&#9840;</span></td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table><br />

</ng-container>