<ng-container *ngIf="noBreederList == true">
  <h1>Siberian Husky Ræktendur</h1>
  <div class="block">
    <h3>Virkir ræktendur</h3>
    <ng-container *ngIf="breederList.active?.length != 0">
      <ng-container *ngFor="let breeder of breederList.active">
          <a [routerLink]="[breeder.id]">
            <div class="breeders">
              <strong>{{breeder.kennelName}}</strong><br />
              <small>{{breeder.breederName}}</small><br /><br />
              <strong>Fyrsta got:</strong>
                <span *ngIf="breeder.firstLitter != null"> {{breeder.firstLitter | date: 'dd.MM.yyyy'}}<br /></span>
                <span *ngIf="breeder.firstLitter == null"> -<br /></span>
              <strong>Síðasta got:</strong>
                <span *ngIf="breeder.latestLitter != null"> {{breeder.latestLitter | date: 'dd.MM.yyyy'}}<br /></span>
                <span *ngIf="breeder.latestLitter == null"> -<br /></span>
            </div>
          </a>
        </ng-container>
        <br /><br/>
    </ng-container>
  </div>
  
  <div class="block">
    <h3>Óvirkir ræktendur</h3>
    <small>Ræktendur sem ekki hafa ræktað síðustu 3 ár</small><br /><br />
    <ng-container *ngFor="let breeder of breederList.inactive">
      <a [routerLink]="[breeder.id]">
        <div class="breeders">
            <strong>{{breeder.kennelName}}</strong><br />
            <small>{{breeder.breederName}}</small><br /><br />
            <strong>Fyrsta got:</strong>
              <span *ngIf="breeder.firstLitter != null"> {{breeder.firstLitter | date: 'dd.MM.yyyy'}}<br /></span>
              <span *ngIf="breeder.firstLitter == null"> -<br /></span>
            <strong>Síðasta got:</strong>
              <span *ngIf="breeder.latestLitter != null"> {{breeder.latestLitter | date: 'dd.MM.yyyy'}}<br /></span>
              <span *ngIf="breeder.latestLitter == null"> -<br /></span>
          </div>
        </a>
    </ng-container>
  </div>  
</ng-container>