<ng-container *ngIf="noSiberian == false">
  <ng-container>
    <h2>Bæta við hundi</h2>
    <form (ngSubmit)="submit()" [formGroup]="myForm">
  
      <fieldset>
        <legend>Almennar upplýsingar</legend>
  
        <div class="form-left">
            <label for="status"> Uppruni </label><br />
            <select id="status" name="status" id="status" formControlName="status">
              <option value="1" selected="selected">Innfluttur</option>
              <option value="2">Útfluttur</option>
              <option value="3">Fæddur á Íslandi</option>
              <option value="4">Bara í ættbók</option>
            </select>
            
            <ng-container *ngIf="myForm.get('status').value == 1">
              <input name="year" id="year" class="short-input" placeholder="Ár" formControlName="year">
            </ng-container>
            <br />
  
          <label for="pedigreeName"> Ættbókarnafn </label><br />
          <input name="pedigreeName" formControlName="pedigreeName" id="pedigreeName">
          <br />
  
          <label for="microChip"> Örmerki </label><br />
          <input name="microChip" formControlName="microChip" id="microChip">
          <br />
  
          <label for="owner"> Eigandi </label><br />
          <input name="owner" formControlName="owner" id="owner">
          <br />
        </div>
  
        <div class="form-right">
          <label for="gender"> Kyn </label><br />
          <select formControlName="gender" name="gender" id="gender">
            <option value="1" [selected]="siberian.gender == 'Female'">Tík</option>
            <option value="2" [selected]="siberian.gender == 'Male'">Rakki</option>
          </select>
          <br />
  
          <label for="callName"> Innkallsnafn </label><br />
          <input name="callName" formControlName="callName" id="callName">
          <br />
  
          <label for="pedigreeNumber"> Ættbókanúmer </label><br />
          <input name="pedigreeNumber" formControlName="pedigreeNumber" id="pedigreeNumber">
          <br />
  
          <ng-container *ngIf="myForm.get('status').value == 2 || myForm.get('status').value == 3">
            <ng-container *ngIf="myForm.get('onList').value != true">
              <label for="ISL_BreederId"> Ræktandi </label><br />
              <input list="breeder" name="ISL_BreederId" formControlName="ISL_BreederId" id="ISL_BreederId">
              <datalist id="breeder" name="ISL_BreederId">
                <ng-container *ngFor="let breeder of breederList">
                  <option data-value="{{breeder.id}}">{{breeder.breederName}}</option>
                </ng-container>
              </datalist>
            </ng-container>
            <br />
            <input type="checkbox" name="onList" formControlName="onList" id="onList" value="true"> Ræktandi ekki með ræktunarnafn
            <br />
          </ng-container>
  
          <ng-container *ngIf="myForm.get('status').value == 1 || myForm.get('status').value == 4 || myForm.get('onList').value == true">
            <label for="breeder"> Ræktandi </label><br />
            <input name="breeder" formControlName="breeder" id="breeder">
            <br />
          </ng-container>
        </div>
      </fieldset>
      <br />
      
      <fieldset>
        <legend>Foreldrar</legend>
        <div class="form-left">
          <label for="sire"> Faðir </label><br />
          <input list="males" name="sire" formControlName="sire" id="sire">
          <datalist id="males" name="sire">
            <ng-container *ngFor="let sire of siberianMales">
              <option data-value="{{sire.id}}">{{sire.pedigreeName}}</option>
            </ng-container>
          </datalist>
        </div>
  
        <div class="form-right">
          <label for="dam"> Móðir </label><br />
          <input list="females" name="dam" formControlName="dam" id="dam">
          <datalist id="females" name="dam">
            <ng-container *ngFor="let dam of siberianFemales">
              <option data-value="{{dam.id}}">{{dam.pedigreeName}}</option>
            </ng-container>
          </datalist>
        </div>
      </fieldset>
      <br />
  
      <fieldset>
          <legend>Aðrar upplýsingar</legend>
          <div class="form-left">
            <label for="dob"> Fæðingardagur </label><br />
            <input type="date" list="dob" name="dob" formControlName="dob" id="dob" value="0001-01-01">
            <br />
  
            <input type="checkbox" name="dead" formControlName="dead" id="dead" value="true"> Látinn
            <br />
  
            <label for="hd"> HD </label><br />
            <input list="hd" name="hd" formControlName="hd" id="hd">
            <br /><br />
          </div>
    
          <div class="form-right">
            <ng-container *ngIf="myForm.get('status').value != 3">
              <label for="orgCountry"> Upprunaland </label><br />
              <input list="countries1" name="orgCountry" formControlName="orgCountry" id="orgCountry">
              <datalist id="countries1" name="orgCountry">
                <ng-container *ngFor="let country of countryList">
                  <option data-value="{{country.countryCode}}">{{country.country}}</option>
                </ng-container>
              </datalist>
              <br />
            </ng-container>
  
            <ng-container *ngIf="myForm.get('status').value == 2">
              <label for="currCountry"> Núverandi land </label><br />
              <input list="countries2" name="currCountry" formControlName="currCountry" id="currCountry">
              <datalist id="countries2" name="currCountry">
                <ng-container *ngFor="let country of countryList">
                  <option data-value="{{country.countryCode}}">{{country.country}}</option>
                </ng-container>
              </datalist>
            </ng-container>
            <br />
            
            <label for="color"> Litur </label><br />
            <input list="color" name="color" formControlName="color" id="color">
            <br />
  
          </div>
        </fieldset>
        <br />
  
      <fieldset>
        <legend>Titlar</legend>
        <div class="block">
          <div class="form-left">
            <label for="titles"> Titlar </label><br />
            <input name="titles" formControlName="titles" id="titles">
  
            <label for="postTitles"> Post-Titlar </label><br />
            <input name="postTitles" formControlName="postTitles" id="postTitles">
            <p>
              <small>
                <strong>Post-Titlar: </strong>Titlar sem koma á eftir ættbókarnafninu á hundinum.<br />
                <i>Dæmi: AMCH CANCH Highlander's Go For Broke <u>SDX</u></i>
              </small>
            </p>
          </div>
  
          <div class="form-right">
            <label for="shortTitles"> Stuttir titlar </label><br />
            <input name="shortTitles" formControlName="shortTitles" id="shortTitles">
            <p>
              <small>
                <strong>Stuttir titlar: </strong>Ef hundurinn er alþjóðlegur meistari, skrifist C.I.B. Ef hundurinn er með einn meistaratitil skrifið þá CH ef hann er með fleiri
                en einn, skrifist MultiCH. Hér skrifum við ekki RW titla eða aðra.<br />
                <i>Dæmi: C.I.B. CH</i>
              </small>
            </p>
          </div>
        </div>
      </fieldset>
  
      <br />
      
      <button>Submit</button>
    </form>
  </ng-container>
  
</ng-container>