<ng-container>
  <h2>Bæta við augnskoðunum</h2>
  <form (ngSubmit)="submit()" [formGroup]="myForm">

    <label for="date"> Dagsetning </label><br />
    <input type="date" list="date" name="date" id="date" formControlName="date">
    <br /><br />

    <!--siberians-->
    <siberians-array
      formArrayName="siberians"
      [siberiansFormArray]="myForm.get('siberians')">
    </siberians-array>

    <button type="Submit" [disabled]="!myForm.valid">Submit</button>
  </form>
</ng-container>