<ng-container>
  <input [(ngModel)]="searchText" placeholder="Leita">
  <button (click)="saveOwnerAgreement()">Vista</button>
  <table width="100%">
    <thead>
      <tr>
        <th width="5%">Leyfi</th>
        <th>Nafn</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let owner of searchOwners | ownerFilter: searchText">
        <tr>
          <td><input type="checkbox" [checked]="owner.agreement" (change)="addToList(owner.id, owner.agreement)"></td>
          <td>{{owner.name}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
