<div>
  <siberian-control *ngFor="let siberian of siberiansFormArray.controls; let i=index"
    [index]="i" [siberian]="siberian" (removed)="siberiansFormArray.removeAt($event)">
  </siberian-control>
  <br />
</div>

<div class="float-right">
  <a (click)="addSiberian()" style="cursor: pointer">
    &#10010;
  </a>
</div>